{# You can access the context with 'this' #}
{# the output should be a valid json #}
{% set comma = joiner() %}
{
    "locations": [
    {%- for component, data in components %}
        {{comma()}}{
            "template": "context.njk",
            "contextSelector": "components.{{ component }}",
            "destination": {
                "type": "github",
                "repo": "LucaLanziani/test"
            }
        }
    {%- endfor %}
    ]
}
